@model IEnumerable<Web.MVC.ViewModel.PaisViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.txt_pais)
        </th>        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.txt_pais)
        </td>        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.cod_pais }) |
            @Html.ActionLink("Details", "Details", new { id=item.cod_pais }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.cod_pais })
        </td>
    </tr>
}

</table>
