@model IEnumerable<Web.MVC.ViewModel.ClienteViewModel>
@{
    ViewBag.Title = "";
    ViewBag.Controller = "Home";
}

<div class="card-header">
    <h3 class="card-title">Clientes</h3>
    <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
            <i class="fas fa-minus"></i>
        </button>
    </div>
</div>
@using (Ajax.BeginForm("Index", "Home", new AjaxOptions { HttpMethod = "POST" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    <div class="row" style="float: right;">
        <div class="col-md-12 col-xs-6" style="float: right;">
            @Html.TextBox("txt_pesquisa", string.Empty, new { @placeholder = "Pesquisar", @class = "form-control col-md-12 col-xs-6" })
            <button type="submit" class="btn btn-info">Pesquisar</button>
        </div>
    </div>
}

<div class="row">    
    <div class="col-md-12 col-xs-6">        
        <div class="card-body">            
            @foreach (var item in Model)
            {
                <table id="myTable" class="table">
                    <tr>
                        <th>Nome</th>
                        <th>Telefone</th>
                        <th>Telefone2</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.txt_cliente)</td>
                        <td>@Html.DisplayFor(modelItem => item.telefone_formatado)</td>
                        <td>@Html.DisplayFor(modelItem => item.telefone2_formatado)</td>
                        <td rowspan="4">
                            @Html.ActionLink("Alterar", "Edit", new { id = item.cod_cliente, Controller = "Cliente" }) |
                            @Html.ActionLink("Excluir", "", new { id = item.cod_cliente }, new { onclick = "return Excluir(" + item.cod_cliente + ");" })
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3"><b>Endereço:</b> @Html.DisplayFor(modelItem => item.txt_endereco)</td>
                    </tr>
                    <tr>
                        <td colspan="3"><b>Complemento:</b> @Html.DisplayFor(modelItem => item.txt_complemento)</td>
                    </tr>
                    <tr>
                        <td colspan="3"><b>Observação:</b> @Html.DisplayFor(modelItem => item.txt_descricao)</td>
                    </tr>
                </table>
                <br />
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    function Excluir(id) {        
        if (confirm("Deseja excluir o registro?")) {
            $.ajax({
                type: "POST",
                url: "/Cliente/Delete",
                data: "{ 'id': '" + id + "' }",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response != null) {
                        self.location.href = '/Home';
                    }
                },
                failure: function (response) {

                }
            });
        }
        return false;
    }    
</script>


